App_WebReferences/localhost/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getProductsInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="productCounter" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getProductsInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getProductsInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductPropertiesInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="productCounter" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductPropertiesInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductPropertiesInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllProductOnSale">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllProductOnSaleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllProductOnSaleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getOrganizationInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="productCounter" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getOrganizationInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getOrganizationInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getOrgActinveCampaignInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="organizationID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getOrgActinveCampaignInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getOrgActinveCampaignInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertNewUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="age" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertNewUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertNewUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertNewUserScanQr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productCounter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertNewUserScanQrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertNewUserScanQrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="propertyClicked">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="activity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pcid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="propertyClickedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="propertyClickedResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getProductsInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getProductsInfo" />
  </wsdl:message>
  <wsdl:message name="getProductsInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getProductsInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductPropertiesInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductPropertiesInfo" />
  </wsdl:message>
  <wsdl:message name="GetProductPropertiesInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductPropertiesInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllProductOnSaleSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllProductOnSale" />
  </wsdl:message>
  <wsdl:message name="GetAllProductOnSaleSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllProductOnSaleResponse" />
  </wsdl:message>
  <wsdl:message name="getOrganizationInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getOrganizationInfo" />
  </wsdl:message>
  <wsdl:message name="getOrganizationInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getOrganizationInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getOrgActinveCampaignInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getOrgActinveCampaignInfo" />
  </wsdl:message>
  <wsdl:message name="getOrgActinveCampaignInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getOrgActinveCampaignInfoResponse" />
  </wsdl:message>
  <wsdl:message name="insertNewUserSoapIn">
    <wsdl:part name="parameters" element="tns:insertNewUser" />
  </wsdl:message>
  <wsdl:message name="insertNewUserSoapOut">
    <wsdl:part name="parameters" element="tns:insertNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="insertNewUserScanQrSoapIn">
    <wsdl:part name="parameters" element="tns:insertNewUserScanQr" />
  </wsdl:message>
  <wsdl:message name="insertNewUserScanQrSoapOut">
    <wsdl:part name="parameters" element="tns:insertNewUserScanQrResponse" />
  </wsdl:message>
  <wsdl:message name="propertyClickedSoapIn">
    <wsdl:part name="parameters" element="tns:propertyClicked" />
  </wsdl:message>
  <wsdl:message name="propertyClickedSoapOut">
    <wsdl:part name="parameters" element="tns:propertyClickedResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getProductsInfo">
      <wsdl:input message="tns:getProductsInfoSoapIn" />
      <wsdl:output message="tns:getProductsInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductPropertiesInfo">
      <wsdl:input message="tns:GetProductPropertiesInfoSoapIn" />
      <wsdl:output message="tns:GetProductPropertiesInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProductOnSale">
      <wsdl:input message="tns:GetAllProductOnSaleSoapIn" />
      <wsdl:output message="tns:GetAllProductOnSaleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getOrganizationInfo">
      <wsdl:input message="tns:getOrganizationInfoSoapIn" />
      <wsdl:output message="tns:getOrganizationInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getOrgActinveCampaignInfo">
      <wsdl:input message="tns:getOrgActinveCampaignInfoSoapIn" />
      <wsdl:output message="tns:getOrgActinveCampaignInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertNewUser">
      <wsdl:input message="tns:insertNewUserSoapIn" />
      <wsdl:output message="tns:insertNewUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertNewUserScanQr">
      <wsdl:input message="tns:insertNewUserScanQrSoapIn" />
      <wsdl:output message="tns:insertNewUserScanQrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="propertyClicked">
      <wsdl:input message="tns:propertyClickedSoapIn" />
      <wsdl:output message="tns:propertyClickedSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductsInfo">
      <soap:operation soapAction="http://tempuri.org/getProductsInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductPropertiesInfo">
      <soap:operation soapAction="http://tempuri.org/GetProductPropertiesInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProductOnSale">
      <soap:operation soapAction="http://tempuri.org/GetAllProductOnSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrganizationInfo">
      <soap:operation soapAction="http://tempuri.org/getOrganizationInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrgActinveCampaignInfo">
      <soap:operation soapAction="http://tempuri.org/getOrgActinveCampaignInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertNewUser">
      <soap:operation soapAction="http://tempuri.org/insertNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertNewUserScanQr">
      <soap:operation soapAction="http://tempuri.org/insertNewUserScanQr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="propertyClicked">
      <soap:operation soapAction="http://tempuri.org/propertyClicked" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductsInfo">
      <soap12:operation soapAction="http://tempuri.org/getProductsInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductPropertiesInfo">
      <soap12:operation soapAction="http://tempuri.org/GetProductPropertiesInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProductOnSale">
      <soap12:operation soapAction="http://tempuri.org/GetAllProductOnSale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrganizationInfo">
      <soap12:operation soapAction="http://tempuri.org/getOrganizationInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrgActinveCampaignInfo">
      <soap12:operation soapAction="http://tempuri.org/getOrgActinveCampaignInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertNewUser">
      <soap12:operation soapAction="http://tempuri.org/insertNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertNewUserScanQr">
      <soap12:operation soapAction="http://tempuri.org/insertNewUserScanQr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="propertyClicked">
      <soap12:operation soapAction="http://tempuri.org/propertyClicked" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:59105/BusinessReality-MobileApp/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:59105/BusinessReality-MobileApp/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>